<div class="card my-5">
    <div class="card-header">
      <h5 class="card-text">{{post.user}}</h5>
      
      
      
      
  <!--이것만 하면 오류가 생길 수 있다. 따라서,내부에서 if문을 작성해 사진 경로를 찾을 수 있도록 해쥰다.-->
    </div>
  {% if post.image_set %}
    <div id="post{{post.id}}" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for image in post.image_set.all %}
          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="{{image.file.url}}" class="d-block w-100" alt="...">
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#post{{post.id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#post{{post.id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
  {% else %}
    <img src="..." class="card-img-top" alt="...">
  {% endif %}
  
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
    <!--내가 작성한 게시물에만 수정, 삭제가 가능하게끔-->
    {% if post.user == user %}
      <a href="{% url 'posts:update' post.id %}" class="btn btn-warning">수정</a>
      <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">삭제</a>
    {% endif %}  
  </div>
  
  <!--댓글 보여주는 부분-->
  <div class="card-body">
    <!--포스트가 가지고 있는 커멘트를 들고와-->
    {% for comment in post.comment_set.all %}
      <p class="card-text"><strong>{{comment.content}}</strong></p>
      
      <!--삭제버튼-->
      {% if comment.user == user %}
        <a class="btn btn-danger" href="{% url 'posts:comment_delete' post.id comment.id %}">삭제</a>
      {% endif %}
      
      <!--for문 돌게 없으면 내요이 없으면 실행-->
    {% empty %}
      <p class="card-text">댓글 작성하기</p>
    {% endfor %}
  </div>
  
  <!--댓글 작성하는 공간 -  폼 띄우기-->
  <!-- 폼을 띄우는 경로와 저장하는 경로가 다름..-->
    <div class="card-body">
    <!--몇번글에 댓글을 달지?-->
    <form action="{% url 'posts:comment_create' post.id %}" method="post">
      {% csrf_token %}
      {{comment_form}}
      <input type="submit" value="제출"/>
    </form>
      

  </div>
</div>